[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
NoDisplay=true
Exec=/usr/bin/GP4 %f
Name=GreenPAK4 designer
Comment=GreenPAK4 Designer IDE.
MimeType=application/gp4-extension;
Icon=greenpak4
Categories=Utility;Application;
